<!DOCTYPE html>
<html>
<head>
  <title>Add Contact</title>
</head>
<body>
<h1>Add a New Contact</h1>

<form action="/contacts/new" method="post">
  <label for="first_name">First Name:</label><br>
  <input type="text" id="first_name" name="first_name" required><br><br>

  <label for="last_name">Last Name:</label><br>
  <input type="text" id="last_name" name="last_name" required><br><br>


  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br><br>

  <label for="phone">Phone:</label><br>
  <input type="text" id="phone" name="phone"><br><br>

  <button type="submit">Save Contact</button>
</form>

<br>
<a href="/">Back to Home</a>
</body>
</html>